<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/icon/favicon.ico">
    <!-- Incluir os icones do font-awesome da CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/clickbites/src/styles/custom_adm.css">
    <title>Adm - Celke</title>
</head>

<body>
    <!-- inicio NavBar -->

    <nav class="navbar">
        <div class="navbar-content">
            
            <div class="bars">
                <i class="fa-solid fa-bars fa-2xl"></i>
            </div>
            <img src="/clickbites/src/assets/logos/fino.png" alt="Erro ao carregar" class="logo">
            <div class="titulo">
                <h1>Área do Administrador</h1>
            </div>
        </div>

        <div class="navbar-content">
            <div class="outlogon">
                <a href="login.html"><i class="fa-solid fa-right-from-bracket fa-2xl"></i></a>
            </div>
        </div>
    </nav>

    <!-- fim NavBar -->

    <!-- Inicio Conteudo -->
    <div class="content">
        <!-- Inicio da Sidebar -->
        <div class="sidebar">
            <a href="index.html" class="sidebar-nav"><i class="icon fa-solid fa-house"></i><span>Dashboard</span></a>

            <a href="listar.html" class="sidebar-nav"><i class="icon fa-solid fa-users"></i><span>Listar</span></a>

            <a href="formulario.html" class="sidebar-nav active"><i class="icon fa-solid fa-file-lines"></i><span>Formulário</span></a>

            <a href="visualizar.html" class="sidebar-nav"><i class="icon fa-solid fa-eye"></i><span>Visualizar</span></a>

            <a href="alert.html" class="sidebar-nav"><i class="icon fa-solid fa-triangle-exclamation"></i><span>Alerta</span></a>

            <a href="gerar_relatorios.html" class="sidebar-nav"><i class="icon fa-solid fa-file-lines"></i><span>Relatórios</span></a>

            <a href="config.html" class="sidebar-nav"><i class="icon fa-solid fa-gear fa-arrow-right-from-bracket"></i><span>Configurações</span></a>
        </div>
        <!-- Fim da Sidebar -->
        <!-- Inicio do conteudo do administrativo -->
        <div class="wrapper">
            <div class="row">
                <div class="top-list">
                    <span class="title-content">Formulário</span>
                    <div class="top-list-right">
                        <a href="listar.html" class="btn-info">Listar</a>
                    </div>
                </div>
                
                <div class="content-adm">
                    <form class="form-adm">
                        <div class="row-input">
                            <div class="column">
                                <label for="title-input">Nome</label>
                                <input type="text" name="name" id="name" class="input-adm" placeholder="Nome Completo" required>
                            </div>
                            <div class="column">
                                <label for="title-input">E-mail</label>
                                <input type="email" name="email" id="email" class="input-adm" placeholder="Insira o email" required>
                            </div>
                            <div class="column">
                                <label for="title-input">Tipo de Usuário</label>
                                <select name="tipoUser" id="tipoUser" class="input-adm" required="required">
                                    <option value="">Selecione</option>
                                    <option value="">Aluno</option>
                                    <option value="">Nutricionista</option>
                                </select>
                            </div>
                            <div class="column">
                                <label for="title-input">Situação Usuário</label>
                                <select name="situacaoUser" id="situacaoUser" class="input-adm" required>
                                    <option value="">Selecione</option>
                                    <option value="">Ativo</option>
                                    <option value="">Inativo</option>
                                    <option value="">Aguardando Confirmação</option>
                                </select>
                            </div>
                        </div>
                        <input type="submit" name="enviar" value="Cadastar" class="btn-success"/>
                    </form>
                </div>

                

            </div>
        </div>
        <!-- Fim do conteudo do administrativo -->
    </div>
    <!-- Fim Conteudo -->

    <script src="../../assets/js/custom_adm.js"></script>

</body>

</html>